/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


 .anfspinner {
    background: url(/wp-admin/images/loading.gif) no-repeat;
    background-size: 16px 16px;
    display: none;
    /* float: right; */
    text-align: center;
    margin: auto;
    filter: alpha(opacity=70);
    width: 16px;
    height: 16px;
    /* margin: 5px 5px 0; */
 }

 #anfimportNow {
 	cursor: pointer;
 }

 #resultTable {
        display: none;
 }



/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}



/*query quick import builder*/

.quikQueryopts {
    display: none;
    position: absolute;
    left: 25%;
    margin-top: -100px;
    /* top: 73%; */
    /* margin-right: -246px; */
    z-index: 10;
    max-width: 350px; 
    height: 350px;
}
.qb-option.qb-add-option {
    text-align: left;
    margin-bottom: 15px;
    padding: 20px;
    min-height: 40px;
    box-shadow: 0px 1px 2px #888888;
    cursor: pointer;
    background: #fff;
}

.qb-option-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

div#api-add-menu-key {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}

input.filter-the-filters {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
}

.qb-menu-heading {
    font-size: 14px;
    /* margin-top: 13px; */
    margin-bottom: 25px;
    /* margin-left: 20px; */
    text-align: left;
    font-weight: 400;
}